<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /xg-apps/

    # Send requests that are not real files or dirs to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>
